body{
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
hr{
    border: 1.5px solid rgb(6, 5, 5);
}
h1{
    text-align: center;
}
li{
    text-align: left;
    font-size: large;
}